* {
  padding: 0;
  margin: 3%;
}

body {
  background-color: #141416;
  font-family: monospace;
  font-weight: bold;
}

h1 {
  padding-left: 2%;
  color: #fff;
}

p {
  padding-left: 4%;
  color: #fff;
}

input {
  margin-left: 1%;
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  background-color: white;
  padding-left: 3%;
}

textarea {
  margin-left: 1%;
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

body div {
  padding-right: 15px;
  border: solid #fff 5px;
  border-radius: 15px;
  margin: 5px;
}

button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #000;
  border: solid;
  border-radius: 15px;
  border-color: #fff;
  width: 0 auto;
}

button:hover {
  background-color: #d0591e
}

button:active {
  background-color: #424242;
  transform: translateY(4px);
}

.numerospares {
  background-color: #e0ee34;
}

.btncentro {
  width: 100%;
  margin-left: 85%;
  border: none;
}

.aleatorio {
  background-color: #96c11d;
}

.ppt {
  background-color: #cfb65d;
}

.ppt .btncentro {
  margin-left: 46%;
}
